.main-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    border-radius: 25px;
    border-color: rgb(182, 188, 189);
    margin-top: 40px;
    width: 500px;
    height: 35px;
    outline: none;
}


