.main-content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.google-image, .search-form {
    position: absolute;
}

.search-form {
    bottom: 600px;
}
.search {
    border-radius: 25px;
    border-color: rgb(182, 188, 189);
    margin-top: 40px;
    width: 500px;
    height: 35px;
    outline: none;
}


