.main-content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.google-image, .search-form {
    position: absolute;
}

.search-form {
    margin-top: 120px;
}

.search-icon {
    position: absolute;
    top: 60px;
    left: 10px;
    color: gray;
}

.mic-icon {
    position: absolute;
    right: 10px;
    top: 60px;
    color: gray;
}

.search {
    border-radius: 25px;
    border-color: lightgrey;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    width: 500px;
    height: 35px;
    outline: none;
}

input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color:  #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.search-button {
    position: absolute;
    top: 140px;
    right: 300px;
}

.lucky-button {
    position: absolute;
    top: 140px;
    right: 150px; 
}

li {
    float: left;
}

.signup {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #fff;
    text-align: left;
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}